<h3>Manage Menu Items</h3>

<form class="well">
    <input ng-model="newmenuitem.code" placeholder="Enter Item Code">
    <input ng-model="newmenuitem.name" placeholder="Enter Item Name">
    <input ng-model="newmenuitem.price" placeholder="Enter Item Price">
    <input ng-model="newmenuitem.description" placeholder="Enter Item Description">
    <button class="btn btn-primary" ng-click="save()">Save</button>
</form>
<table class="table table-bordered">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    
    <tr ng-repeat="menuitem in itemsList">
        <td>{{menuitem.code}}</td>
        <td>{{menuitem.name}}</td>
        <td>{{menuitem.price}}</td>
        <td>{{menuitem.description | truncate: 7}}</td>
        <td><button class="btn btn-danger" ng-click="remove(menuitem.id, $index)">Delete</button>
            <button class="btn btn-success" ng-click="edit(menuitem)">Edit</button>
        </td>
    </tr>

</table>

<button class="btn btn-success" ng-csv="itemsList" filename="exportfile.csv">Export to CSV</button>